
<div class="panel panel-default">
  <!-- Default panel contents -->
   <div class="panel-heading">This is the list of holidays</div>

 <!-- Table -->
<table class="table">
    <th>First Name</th>
    <th>Surname</th>
    <th>Manager</th>
    <th>Role</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
