<div class="page-header">
  <h1>Project Request <small> All ideas, requests and suggestions are reviewed by the team. </small></h1>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Please complete the fields below to submit an idea or project request. Once this request is submitted, the project team will review and progress your request through the Stage Gate process. For more information about this process, please follow the link.</div>
  <div class="panel-body">
  </div>
  
<%= render 'form' %>