// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
    top:200px;
    left:180px;
}
.home{
   top:200px;
   left:150px;
}
.shop{
   top:130px;
   left:450px;
}
.camera{
   top:280px;
   left:760px;
}
.fav{
   top:200px;
   left:950px;
}